* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font: Verdana;
}

body {
    background-color: #f6e9f9;
}

a {
	text-decoration: none;
}

a:hover {
	color: blue;
}

.clear {
    clear: both;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.columns {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.col1of4 {
    width: 227.5px;
    float:left;
    margin-right: 10px;
}

.colLast {
    margin-right: 0;
}

#container {
    width: 100%;
}

#header {
    margin: 0 auto 10px;
    width: 960px;
    padding-top: 30px;
}

#header .stack {
    min-height: 30px;
    position: relative;
    overflow: hidden;
    background-color: #aa36c1;
    border-bottom: 1px solid #591c65;
}

#header .stack.bottom {
    border-bottom: none;
}

#barBg {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    background-color: #c56dd6;
    z-index: 99;
}

#topBar {
    height: 30px;
    width: 100%;
    max-width: 960px;
    position: fixed;
    top: 0px;
    z-index: 99;
}

#homeLink {
    float: left;
    line-height: 30px;
}

#userLinks {
    float: right;
    line-height: 30px;
}

#userLinks ul {

}

#userLinks ul li {
    display:inline;
    float:left;
    list-style:none;
    margin-left: 14px;
}

#header .stack .moduleTitle {
    float: left;
    margin: 0 5px 4px 0;
    padding: 5px 5px 5px 2px;
    background-color: #631f71;
    color: #f2f2f2;
}

#header .stack .moduleDescription {
    padding-top: 5px;
}

#sectionNav {
    line-height: 40px;
    height: 40px;
}

#sectionNav .navButton {
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #752585;
}

#sectionNav .navButton:hover {
    background-color: #9830ad;
}

#sectionNav #navBack {
    width: 20%;
    border-right: 1px solid #591c65;
}

#sectionNav #navForward {
    width: 20%;
    border-left: 1px solid #591c65;
}

#sectionNav #topSearch {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#topSearch input {
    width: 95%;
    font-size: 25px;
    position: relative;
    top: 3px;
    color: #230b28;
}

#content {
    width: 960px;
    margin: 0 auto;
}

.post {
    background-color: #ff0bf3;
    margin-top: 20px;
    padding: 5px 10px 5px;
}

.post .post {
	background-color: #dd09d2;
	margin-top: 10px;
}

.post h2 {
    display: inline-block;
}

.post h3 {
    display: inline-block;
    margin-left: 30px;
}

.post .description {
	margin: 10px 0 10px;
}

.post .material {
/*	background-color: #000;*/
}

.question {
	background-color: #ff0bf3;
	margin-top: 20px;
	padding: 10px 10px 10px;
	overflow: hidden;
}

.question .questionInfo {
}

.question .questionSummary {
	margin-left: 10px;
	float: left;
	width: 780px;
}

.question .votes {
	height: 40px;
	margin: 5px;
	text-align: center;
	width: 30px;
}

.question .answers {
	height: 40px;
	padding: 5px;
	margin: 0 5px;
	text-align: center;
	width: 50px;
	background: blue;
	color: wheat;
}

.question .views {
	height: 40px;
	margin: 5px;
	text-align: center;
	width: 30px;
}

.mini-count {
	font-size: 180%;
	height: 26px;
	font-weight: bold;
}

.small-text {
	font-size: 75%;
}