-e git+https://github.com/thomaspurchas/django.git@e99293250ed9d0ae471faff240bc2e9910a1ec6f#egg=Django-dev
Markdown==2.2.0
PIL==1.1.7
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.12
boto==2.5.2
celery==3.0.5
celery-haystack==0.6.2
dj-database-url==0.2.1
django-appconf==0.5
django-celery==3.0.4
django-celery-transactions==0.1.2
-e git+https://github.com/toastdriven/django-haystack.git@edb3ca5c3723fde9f0e7a51762e203d899ceed58#egg=django_haystack-dev
-e git+https://github.com/thomaspurchas/django-hitcount.git@6adc2dc5b410cd04123b994ae9012710bc37f796#egg=django_hitcount-dev
django-storages==1.1.5
django-tastypie==0.9.11
eventlet==0.9.17
gunicorn==0.14.6
httplib2==0.7.4
kombu==2.3.2
mimeparse==0.1.3
oauthlib==0.1.3
poster==0.8.1
psycopg2==2.4.5
py-bcrypt==0.2
pyasn1==0.1.3
pysolr==2.1.0-beta
python-dateutil==1.5
python-digest==1.7
pytz==2012d
requests==0.12.1
rsa==3.1.1
slumber==0.4.2
wsgiref==0.1.2
newrelic