{% if item.0 == "modules" %}
    <div class="well well-small">
        <h3>Your Modules</h3>
        {% for module in item.1 %}
        <p>
            <a href="{{ module.get_absolute_url }}">
            {{ module.short_code }} - {{ module.title }}
            </a>
        </p>
        {% endfor %}
    </div>
{% endif %}
{% if item.0 == "lecturers" %}
    <div class="well well-small">
        <h3>Your Lecturers</h3>
        {% for lecturer in item.1 %}
        <p>
            <a href="{{ lecturer.get_absolute_url }}">
            {{ lecturer.full_title }}
            </a>
        </p>
        {% endfor %}
    </div>
{% endif %}
{% if item.0 == "questions" %}
    <div class="well well-small">
        <h3>Recent Questions</h3>
        {% for question in item.1 %}
        <p>
            <a href="{{ question.get_absolute_url }}">
            {{ question.title }}
            </a>
        </p>
        {% endfor %}
    </div>
{% endif %}