{% extends "base.html" %}
{% load cache %}

{% block header %}
<div class="jumbotron masthead">
<h1>Welcome to Jerix</h1>
</div>
{% endblock header %}

{% block content %}
<div class="row-fluid">
    {% cache 120 home_columns user.username %}
    <div class="span9">
        <div class="row-fluid">
            <div class="span6">
                {% for item in col_1 %}
                    {% include "core/col.html" with item=item only%}
                {% endfor %}
            </div>
            <div class="span6">
                {% for item in col_2 %}
                    {% include "core/col.html" with item=item only%}
                {% endfor %}
            </div>
        </div>
    </div>
	<div class="span3">
		<a class="twitter-timeline" href="https://twitter.com/WarwickESONews" data-widget-id="269126650497736707">Tweets by @WarwickESONews</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
    {% endcache %}
</div>

{% endblock content %}