{% extends "base.html" %}
{% load cache %}

{% block header %}
<div class="jumbotron masthead">
<h1>Welcome to Jerix</h1>
</div>
{% endblock header %}

{% block content %}
<div class="row-fluid">
    {% cache 120 home_columns user.username %}
    <div class="span9">
        <div class="row-fluid">
            <div class="span6">
                {% for item in col_1 %}
                    {% include "core/col.html" with item=item only%}
                {% endfor %}
            </div>
            <div class="span6">
                {% for item in col_2 %}
                    {% include "core/col.html" with item=item only%}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endcache %}
</div>

{% endblock content %}