$bar-height: 35px;

$jerix-colour: black;//white
$jerix-hover-colour: white;

$text-colour: #666;
$top-colour: #efefef; //#4d4e52
$bottom-colour: #d3d3d3; //#2c2d31
$shadow: 0 0 5px #EEE;//0 0 5px #666

@import "gradient";

#bar-bg{
	width: 100%;
	z-index: 99;
	height: $bar-height;
	position: fixed;
	top: 0px;
	border-top: 1px solid darken($top-colour, 20%);//#313236;
	border-bottom: 1px solid darken($bottom-colour, 20%);//#000004;
	box-shadow: $shadow;
	@include gradient($top-colour, $bottom-colour);
}

#top-bar-wrapper {
	margin: 0 auto;
	height: $bar-height;
	margin-bottom: 5px;
}

#top-bar {
	height: $bar-height;
	width: 100%;
	max-width: $centre-width;
	position: fixed;
	top: 0px;
	z-index: 99;
	color: $text-colour;
}

//#user-links a {
//	color: #DDD;
//}
//
//#user-links a:hover {
//	color: white;
//}

#home-link {
	float: left;
	line-height: $bar-height;
	font-weight: bold;
	font-size: 1.5em;
	color: $jerix-colour;
	text-shadow: 0px 1px 3px #888;
	cursor: pointer;
}

#home-link:hover {
	color: $jerix-hover-colour;
}

#user-links {
	float: right;
	line-height: $bar-height;
}

#user-links ul li {
	display: inline;
	float: left;
	list-style: none;
	margin-left: 14px;
}