$bar-height: 30px;

#bar-bg{
	width: 100%;
	height: $bar-height;
	position: fixed;
	top: 0px;
	background: #676868; /* Old browsers */
	background: -moz-linear-gradient(top, #676868 0%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676868), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #676868 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #676868 0%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #676868 0%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom, #676868 0%,#212121 100%); /* W3C */
	z-index: 99
}

#top-bar-wrapper {
	margin: 0 auto;
	height: $bar-height;
}

#top-bar {
	height: $bar-height;
	width: 100%;
	max-width: $centre-width;
	position: fixed;
	top: 0px;
	z-index: 99;
	color: #DDD;
}

#user-links a {
	color: #DDD;
}

#user-links a:hover {
	color: white;
}

#home-link {
	float: left;
	line-height: $bar-height;
	font-weight: bold;
	font-size: 1.5em;
	color: $red;
	text-shadow: 0px 1px 3px #888;
	cursor: pointer;
}

#home-link:hover {
	color: white;
}

#user-links {
	float: right;
	line-height: $bar-height;
}

#user-links ul {}

#user-links ul li {
	display: inline;
	float: left;
	list-style: none;
	margin-left: 14px;
}