@import "colours";

$sub-post-bg: #EEE;
$material-padding: 5px;
$material-bg: #CCC;

.module-header {
	background: #DDD;
	border-radius: 5px;
	position: relative;
	.module-title {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding-left: 10px;
		margin-right: 10px;
		max-width: 33.3%;
		h1 {
			margin-bottom: 0.5em;
		}
	}
	.module-description {
		padding: 10px;
	}
}

.post {
	border-top: 1px solid #666;
	margin-top: 25px;
	padding-top: 15px;
	border-radius: 0;

	&:first-of-type {
		margin: 0;
		padding: 0;
		border: 0;
	}

	> h2, h3 {
		display: inline-block;
		margin-bottom: 5px;
	}

	.byline {
		a {
			font-weight: bold;
			color: #4F525A;
		}
	}

	.description {
		margin-bottom: 10px;
	}
}

.materials {

	h4 {
		margin-left: $material-padding;
		margin-top: $material-padding;
	}

	.material {
		margin-bottom: 5px;
		padding: 5px;
		position: relative;
	}

	.material-title {
		padding: 5px;
	}

	.download-links {
		float: right;
		position: absolute;
		top: -5px;
		right: 5px;
		//padding: 5px 7px;
		//		background: $green;
		//		border-radius: 5px;
		//		color: #222;
		//		border: 1px solid $border-green;
		//		border-bottom-color: $border-bottom-green;

		//		right: -1px;
		//		i {
		//			float: left;
		//		}
	}
}

.sub-posts {
	padding: 10px;
	margin: 10px 0 0 10px;
	background: $sub-post-bg;
	border-radius: 5px;

	> .post {
		margin-top: 0;
		border-top: 1px solid #999;
		padding-top: 15px;
		margin-bottom: 25px;
		border-radius: 0;
		&:first-of-type {
			border: 0;
			padding: 0;
		}
		&:last-of-type {
			margin: 0;
		}
	}
}
//
//.download-links li:before { content: "| "; }
//.download-links li:first-child:before { content: ""; }