@import "colours";

#header h1 {
	font-size: 150%;
}

.post {
	table-layout: fixed;
	width: 100%;
}

.post:after {
	clear: both;
}

.post-text {
	@import "code-and-quotes";
	font-size: 95%;
}

.repcell {
	width: 50px;
	vertical-align: top;
}

.rep-box {
	text-align: center;

	.vote-up {
		cursor: pointer;
	}

	.vote-down {
		cursor: pointer;
	}

	.total-votes {
		font-size: 230%;
		font-weight: bold;
	}
}

.answers {
	h2 {
		margin-bottom: 10px;
	}
	.answer {
		border-top: 1px solid #999;
		padding: 20px 0;

		&:first-of-type {
			border-top: 0;
			padding-top: 10px;
		}
	}
}

.your-answer {
	border-top: 1px solid #999 !important;
	margin: 0 !important;
	padding: 20px 0;
}

.question-summary {

	h3 {
		margin-bottom: 10px;
	}

	.stats {
		text-align: center;

		> * {
			float:left;
		}

		.votes {
			height: 50px;
			margin: 5px;
			width: 40px;
		}

		.answers {
			height: 50px;
			padding: 5px;
			margin: 0 5px;
			width: 60px;
			background: blue;
			color: Wheat;
		}

		.views {
			height: 50px;
			margin: 5px;
			width: 40px;
		}
	}

	.stats-tall {
		margin: 0 7px;
		float: left;
		text-align: center;
		.stats-gray {
			width: 70px;
			padding: 2px 5px;
			background: #DDD;
			.answers {
				margin: 2px 0;
				padding: 2px 5px;
				background: #fb8;
			}
		}
	}

	.mini-count {
		font-size: 180%;
		height: 26px;
		font-weight: bold;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}