$centre-width: 960px;
$footer-height: 100px;
//$centre-width: 90%;

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font: Verdana;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: white;//#F9F9F9;//white; // lighten($blue, 50%);
}

@import "grid";
@import "basic";
@import "top-bar";
@import "colours";

#container {
	width: $centre-width;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	margin-bottom: -$footer-height;
	padding-bottom: $footer-height;
}

#header {
	margin-bottom: 5px;
}

#content {
	position: relative;
}

#footer {
	margin-top: 70px;
	border-top: 5px solid #FF6600;
	background: #858585;
	color: white;
	height: $footer-height;
	padding-top: 10px;
	.content {
		width: $centre-width;
		position: relative;
		margin: 0 auto;
	}
}

#top-search {
	margin: 5px auto 0;
	width: 70%;
	height: 40px;
	padding: 5px;
	background: #DDD;//#E6E6E6;
	border-radius: 5px;
	form {
		height: 100%;
	}
	input {
		height: 100%;
		float: left;
		border: 1px solid #BFBFBF;
		font-size: 100%;
	}
	input[type="text"] {
		width: 70%;
		color: #230b28;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 0 10px;
	}
	input[type="submit"] {
		width: 30%;
		height: 100%;
		color: #666;
		font-weight: bold;
		background: #E6E6E6;
		font-shadow: 0 1px 0 rgba(255, 255, 255, 1);
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		&:hover {
			background: $green;
			color: white;
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
			border-color: #6B9939;
			border-bottom-color: #50732B;
		}
	}
}

.spacer {
	margin-bottom: 8px;
}

.small-link {
	font-size: 85%;
}

.small-text {
	font-size: 75%;
}

.title {
	background: #8ECC4C;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #6B9939;
	border-bottom-color: #50732B;
}

.sidebar-title, .blob-title {
	margin-bottom: 10px;
}
// Fix webengage widget

webengagedata {
	display: none;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;         /* Opera/IE 8+ */

	* {
		-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: content-box;    /* Firefox, other Gecko */
		box-sizing: content-box;         /* Opera/IE 8+ */
	}
	#webklipper-publisher-widget-container-content {
		overflow: visible !important;
	}
}

.blob {
	background: #DDD;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;

	h3 {
		color: darken($green, 10%);
	}
}