{% extends "base.html" %}
{% load compress %}

{% block title %}{{ module.title }}{% endblock title %}

{% block head %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}module.css" type="text/css" charset="utf-8">
    {% endcompress %}
    {{ block.super}}
{% endblock head %}

{% block header %}
    <div class="jumbotron subhead">
        <div class="container">
            <h1>{{ module.short_code }} <small> {{ module.title }}</small></h1>
            <p class="lead">{{ module.description }}</p>
        </div>
    </div>
{% endblock header %}

{% block content %}

{% endblock content %}