{% extends "base.html" %}
{% load compress %}
{% load cache %}

{% block title %}{{ module.title }}{% endblock title %}

{% block head %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/module.scss" type="text/x-scss" charset="utf-8">
    {% endcompress %}
    {{ block.super}}
{% endblock head %}

{% cache 120 module_header module.id %}

    {% block header %}
        <div class="jumbotron subhead">
            <div class="container">
                <div class="page-header" style="border:none; margin-bottom: 0px;">
                    <h1>{{ module.short_code }}
                        <small>{{ module.title }}</small>
                    </h1>
                    <p class="lead">{{ module.description }}</p>
                </div>
            </div>
        </div>
    {% endblock header %}

{% endcache %}

{% block content %}

{% endblock content %}
