{% extends "modules/module_base.html" %}

{% block content %}
    <div class="col-3-4">
        {% if posts %}
            {% for post in posts %}
                {% include "modules/module/post.html" with post=post only %}
            {% endfor %}
        {% else %}
            <div class="module">
                No Posts
            </div>
        {% endif %}
    </div>
    <div class="col-1-4">
        {% if questions %}
        <div class="module recent-questions">
            <h3 class="sidebar-title">Recent Questions</h3>
            {% for question in questions %}
                <div class="spacer">
                    <a class="small-link" href="{% url question question.id question.slug %}">
                    {{ question.title }}</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}