{% extends "base.html" %}

{% block title %}{{ module.title }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}module.css" type="text/css" charset="utf-8">
{% endblock css %}

{% block header %}
	<div class="grid module-header">
		<div class="col-custom module-title title">
			<h1 class="shortcode">{{ module.short_code }}</h1>
			<h2 class="module-name">{{ module.title }}</h2>
		</div>
		<div class="module-description">
			{{ module.description }}
		</div>
	</div>
{% endblock header %}

{% block content %}

{% endblock content %}