{% extends "base.html" %}

{% block title %}{{ module.title }}{% endblock title %}

{% block headerstack %}
<div class="stack">
	<div class="moduleTitle">
		<h1 class="shortcode">{{ module.short_code }}</h1>
		<h2 class="moduleName">{{ module.title }}</h2>
	</div>
	<div class="moduleDescription">
		{{ module.description }}
	</div>
</div>
<div class="stack bottom" id="sectionNav">
	<a href="" class="fLeft navButton" id="navBack">Back</a>
	<a href="" class="fRight navButton" id="navForward">Forward</a>
	<div id="topSearch">
		<input type="text" name="search" value="" id="search" autocomplete="no" />
	</div>
</div>
{% endblock headerstack %}

{% block content %}
<div id="posts">
	{% for post in posts %}
		<div class="post">
			<h1>{{ post.title }}</h1>
			<h2>{{ post.post_date }}</h2>
			<h2>{{ post.author_full_title }}</h2>
			{% if post.description %}
				<div class="description">
					<p>{{ post.description }}</p>
				</div>
			{% endif %}
			{% for material in post.sorted_materials  %}
				<div class="material">
					{{ material.title }}
				</div>
			{% endfor %}
			{% for sub_post in post.sub_posts.all %}
				<div class="post">
					<h1>{{ sub_post.title }}</h1>
					<h2>{{ sub_post.post_date }}</h2>
					<h2>{{ sub_post.author_full_title }}</h2>
					{% if sub_post.description %}
						<div class="description">
							<p>{{ sub_post.description }}</p>
						</div>
					{% endif %}
					{% for material in sub_post.sorted_materials %}
						<div class="material">
							{{ material.title }}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
{% endblock content %}