{% extends "base.html" %}

{% block title %}{{ module.title }}{% endblock title %}

{% block header %}
	<div class="moduleTitle">
		<h1 class="shortcode">{{ module.short_code }}</h1>
		<h2 class="moduleName">{{ module.title }}</h2>
	</div>
	<div class="moduleDescription">
		{{ module.description }}
	</div>
{% endblock header %}

{% block content %}
	<div class="col-2-3">
		{% block sub-content %}
		{% endblock sub-content %}
	</div>
	<div class="col-1-3">
		<div class="module">
			Sidebar
		</div>
	</div>
{% endblock content %}