{% extends "base.html" %}

{% block title %}{{ module.title }}{% endblock title %}

{% block headerstack %}
<div class="stack">
	<div class="moduleTitle">
		<h1 class="shortcode">{{ module.short_code }}</h1>
		<h2 class="moduleName">{{ module.title }}</h2>
	</div>
	<div class="moduleDescription">
		{{ module.description }}
	</div>
</div>
<div class="stack bottom" id="sectionNav">
	<a href="" class="fLeft navButton" id="navBack">Back</a>
	<a href="" class="fRight navButton" id="navForward">Forward</a>
	<div id="topSearch">
		<input type="text" name="search" value="" id="search" autocomplete="no" />
	</div>
</div>
{% endblock headerstack %}