<div class="btn-toolbar download-links pull-right">
    <div class="btn-group">
      {% if user.is_authenticated %}
          {% for version in material.document.versions %}
              <a  href={{ version.url }}
                  class="btn"
                  {% if version.type == "pdf" %}
                  target="_blank"
                  {% endif %}>

                  {% if forloop.first %}
                      <i class="icon-download"></i>
                  {% endif %}
                  {{ version.type_display }}
              </a>
          {% endfor %}
      {% else %}
          <a class="btn" href={% url "account_login" %}?next={{ request.get_full_path }}>
              <i class="icon-download"></i> Sign In
          </a>
      {% endif %}
    </div>
</div>
