<section class="" id="{{ post.slug }}">
    {% if post.is_parent %}
        <h2>{{ post.title }}</h2>
    {% else %}
        <h3>{{ post.title }}</h3>
    {% endif %}
    <span class="byline small-text">
        by  <a href="{{ post.author.get_profile.absolute_url }}">
            {{ post.author_full_title }}</a> |
            {{ post.post_date|date }} at {{ post.post_date|time }}
    </span>
	{% if post.description %}
		<div class="description">
			<p>{{ post.description }}</p>
		</div>
	{% endif %}
    {% if post.sorted_materials %}
        <div class="materials">
        <h4>Materials</h4>
        {% for material in post.sorted_materials  %}
            <div class="material well well-small">
                <div class="download-links">
                    <i class="icon-download"></i>
                    <ul><!--
                        <li>
                            Download:
                        </li> -->
                        {% for version in material.document.versions %}
                            <li>
                                <a href={{ version.url }}
                                    {% if version.type == "pdf" %}
                                    target="_blank"
                                    {% endif %}>
                                    {{ version.type_display }}
                                </a>
                            </li>
                            {% if not forloop.last %}
                                <li>|</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="material-title">
                {{ material.title }}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
	{% if post.is_parent and post.sub_posts.all %}
        <div class="sub-posts">
            {% for sub_post in post.sub_posts.all %}
                {% with template="modules/module/post.html" %}
                    {% include template with post=sub_post only %}
                {% endwith %}
            {% endfor %}
        </div>
	{% endif %}
</section>
