@media (max-width: 480px) {
    #search-form {
        input {
            width: 62.5%;
        }
        button {
            padding-left: 2px;
            padding-right: 2px;
            width: 33%;
        }
    }
}