@import "colours";

#header h1 {
	font-size: 150%;
}

.post {
	table-layout: fixed;
	width: 100%;
}

.post:after {
	clear: both;
}

.post-text, .wmd-preview {
	@import "code-and-quotes";
	font-size: 95%;
}

.repcell {
	width: 64px;
	vertical-align: top;
}

.postcell {
	vertical-align: top;
}

.rep-box {
	text-align: center;
    
    a {
        width: 64px;
        height: 32px;
        display: block;
        text-indent: -9999em;
    }
    
	.vote-up {
		cursor: pointer;
        background-image: url('../img/arrow-up.png');
        &:hover {
            background-image: url('../img/arrow-up-glowing.png');
        }
	}

	.vote-down {
		cursor: pointer;
        background-image: url('../img/arrow-down.png');
        &:hover {
            background-image: url('../img/arrow-down-glowing.png');
        }
	}
	.vote-up.voted {
        background-image: url('../img/arrow-up-glowing.png');
	}
    .vote-down.voted {
        background-image: url('../img/arrow-down-glowing.png');
    }
	.total-votes {
		font-size: 250%;
		font-weight: bold;
        width: 64px;
        display: block;
        margin: 5px 0;
	}
}

.answers {
	margin-top: 25px;

	> h2 {
		margin-bottom: 10px;
		border-bottom: 1px solid #666;
	}
	.answer {
		border-top: 1px solid #999;
		padding: 20px 0;

		&:first-of-type {
			border-top: 0;
			padding-top: 10px;
		}
	}
}

.your-answer {
	border-top: 1px solid #999 !important;
	margin: 0 !important;
	padding: 20px 0;

	.form-submit {
		text-align: center;
	}

	input {
		padding: 3px;
		border: 1px solid #BFBFBF;
		font-size: 100%;
		color: #666;
		font-weight: bold;
		background: #E6E6E6;
		font-shadow: 0 1px 0 rgba(255, 255, 255, 1);
		border-radius: 3px;

		&:hover {
			background: $green;
			color: white;
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
			border-color: #6B9939;
			border-bottom-color: #50732B;
		}
	}
}

.question-summary {

	h3 {
		margin-bottom: 10px;
	}

	.stats {
		text-align: center;

		> * {
			float:left;
		}

		.votes {
			height: 50px;
			margin: 5px;
			width: 40px;
		}

		.answers {
			height: 50px;
			padding: 5px;
			margin: 0 5px;
			width: 60px;
			background: blue;
			color: Wheat;
		}

		.views {
			height: 50px;
			margin: 5px;
			width: 40px;
		}
	}

	.stats-tall {
		margin: 0 7px;
		float: left;
		text-align: center;
		.stats-gray {
			width: 70px;
			padding: 2px 5px;
			background: #DDD;
			.answers {
				margin: 2px 0;
				padding: 2px 5px;
				background: #fb8;
			}
		}
	}

	.mini-count {
		font-size: 180%;
		height: 26px;
		font-weight: bold;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}