$centre-width: 960px;
$footer-height: 100px;
//$centre-width: 90%;

//* {
//	padding: 0;
//	margin: 0;
//	font-family: sans-serif;
//	font: Verdana;
//}
//
//*, *:after, *:before {
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//	box-sizing: border-box;
//}

body, html{
	height: 100%;
}

body {
	background-color: white;//#F9F9F9;//white; // lighten($blue, 50%);
	padding-top: 40px;
}

.container-fluid {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}

section {
	padding-top: 40px;
	display: block;
}

#search-form {
	margin: 0;
	
	input {
		width: 48.717948717948715%;
	}
}

#login-dropdown {
    li {
        padding-left: 0px;
    }
    a {
        padding-left: 5px;
    }
}

#posts {
	margin-top: -40px;
}

.affix {
	top: 40px;
}

#nav-list {
	margin-top: 20px;
	width: 270px;
}

.row-top {
	margin-top: 10px;
}

.sub-posts {
	section {
		padding-top: 0;
	}
}

@import "grid";
@import "basic";
@import "top-bar";
@import "colours";

#wrapper {
	min-height: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -$footer-height;
	padding-bottom: $footer-height;
}

#header {
	margin-bottom: 5px;
	z-index: 2;
	position: relative;
}

#content {
	position: relative;
}

#footer {
	margin-top: 70px;
	border-top: 5px solid #FF6600;
	background: #858585;
	color: white;
/*	height: $footer-height;*/
	padding-top: 10px;
	.content {
		width: $centre-width;
		position: relative;
		margin: 0 auto;
	}
}

// Fix webengage widget

webengagedata {
	display: none;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;         /* Opera/IE 8+ */

	* {
		-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: content-box;    /* Firefox, other Gecko */
		box-sizing: content-box;         /* Opera/IE 8+ */
	}
	#webklipper-publisher-widget-container-content {
		overflow: visible !important;
	}
}

.blob {
	background: #DDD;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;

	h3 {
		color: darken($green, 10%);
	}
}

@import "large_desktop";
@import "tablet";
@import "phone";