{% extends "q_and_a/base.html" %}
{% load hitcount_tags %}

{% block title %}{{ question.title }}{% endblock title %}

{% block head %}
{% include "csrf_js.html" %}
{% endblock head %}

{% block header %}
<h2>{{ question.title }}</h2>
{% endblock header %}

{% block content %}
    <div class="col-2-3">
        <div class="question">
            {% include "q_and_a/post.html" with post=question.detail %}
        </div>
        {% for answer in answers %}
        <div class="answer">
            <h2>{{ answer.title }}</h2>
            {% include "q_and_a/post.html" with post=answer.detail %}
        </div>
        {% endfor %}
        <h3>Your Answer</h3>
        {% include "pagedown.html" %}
    </div>
    <div class="col-1-3">
       <h3>Related Questions</h3>
    </div>

{% endblock content %}

{% block footer %}
<script type="text/javascript">
	$(document).ready(function() {
		{% get_hit_count_javascript for question %}
	});
</script>
{% endblock footer %}