{% extends "q_and_a/base.html" %}
{% load hitcount_tags %}

{% block title %}{{ question.title }}{% endblock title %}

{% block head %}
{% include "csrf_js.html" %}
{% endblock head %}

{% block header %}
<div class="grid">
    <div class="col-3-4">
        <h1 class="title">{{ question.title }}</h1>
    </div>
    <div class="col-1-4">
    </div>
</div>
{% endblock header %}

{% block content %}
    <div class="col-3-4">
        <div class="module question">
            {% include "q_and_a/post.html" with post=question.detail %}
        </div>
        {% if answers %}
            <div class="module answers">
                <h2>Answers</h2>
                {% for answer in answers %}
                <div class="answer">
                    {% include "q_and_a/post.html" with post=answer.detail %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="module">
        <h3>Your Answer</h3>
            {% include "pagedown.html" %}
        </div>
    </div>
    <div class="col-1-4">
        <div class="module">
            <h3>Related Questions</h3>
        </div>
    </div>

{% endblock content %}

{% block footer %}
<script type="text/javascript">
	$(document).ready(function() {
		{% get_hit_count_javascript for question %}
	});
</script>
{% endblock footer %}