{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row-fluid row-top">
    <div class="span6 offset3">
        {% if form.errors %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Error!</strong> Your username and password don't match. Please try again.
        </div>
        {% endif %}

        <form method="post" class="form-horizontal" action="{% url login %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form|crispy }}
            <div class="controls">
                <button type="submit" class="btn btn-large btn-success"/>Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}