{% load compress %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}The New ESO{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" charset="utf-8">
        {% endcompress %}
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    {% endblock head %}
</head>

<body id="base" onload="">
    <div id="bar-bg"></div>
    <div id="container">
		<div id="top-bar-wrapper">
        <div id="top-bar">
            <div id="home-link">
                Jerix
            </div>
            {% cache 500 sidebar user.username %}
            <div id="user-links">
                <ul>
                {% if user.is_authenticated %}
                    <li>
                        {{ user.username }}
                    </li>
                    <li>
                        <a href="." title="Lectures">Lectures</a>
                    </li>
                    <li>
                        <a href="." title="Account">Account</a>
                    </li>
                    <li>
                        Stuff
                    </li>
                {% else %}
                    <li>
                        <a href="." title="Login">Login</a>
                    </li>
                {% endif %}
                </ul>
            {% endcache %}
            </div>
        </div>
		</div>
        <div id="header">
            {% block header %}
            {% endblock header %}
            <div id="top-search">
                <form action="/search/" method="GET">
                    <input type="text" name="q" value=
                        {% if query %}"{{ query }}"{% endif %}
                        {% if module %}"{{ module.primary_tag }} "{% endif %}>
                    <input type="submit" value="Let's Do This">
                </form>
            </div>
        </div>
        <div id="content" class="grid">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div id="footer">
        <div class="content grid">
            {% block footer %}
            <div class="col-1-8">
                Test
            </div>
            {% endblock footer %}
            {# {% include "feedback.html" %} #}
        </div>
    </div>
</body>