<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}The New ESO{% endblock title %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}screen.css" title="Screen" type="text/css" media="screen" charset="utf-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    {% block head %}{% endblock head %}
	<link rel="stylesheet" type="text/css" href="//webputty.commondatastorage.googleapis.com/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjN6nEM.css" />
	<script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjN6nEM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>
</head>

<body id="base" onload="">
    <div id="barBg"></div>
    <div id="container">
		<div id="topBarWrapper">
        <div id="topBar">
            <div id="homeLink">
                Jerix
            </div>
            <div id="userLinks">
                <ul>
                {% if user.is_authenticated %}
                    <li>
                        {{ user.username }}
                    </li>
                    <li>
                        <a href="." title="Lectures">Lectures</a>
                    </li>
                    <li>
                        <a href="." title="Account">Account</a>
                    </li>
                    <li>
                        Stuff
                    </li>
                {% else %}
                    <li>
                        <a href="." title="Login">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
		</div>
        <div id="header">
            {% block headerstack %}
            {% endblock headerstack %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
	<div id="footer">
		{% block footer %}
		{% endblock footer %}
		{% include "feedback.html" %}
	</div>
</body>